<!-- views/home.ejs -->



<style>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            text-align: center;
        }

        h1 {
            color: #30ceac;
            margin: 20px;
        }

        .message {
            color: #666;
            margin-bottom: 30px;
        }

        .logout-button {
            padding: 12px 24px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .logout-button:hover {
            background-color: #0056b3;
        }

        .dummy-content {
            margin-top: 50px;
            color: #777;
        }
        .image{
            height: 30px;
            width: 30px;
            border-radius: 10%;
        }
    
    
</style>




<div class="container">
    <h1>Welcome  <img src="/images/programmer.png" alt="userlogo" class="image" /> <%= user.name %></h1>
    <p class="message">You are now logged in</p>
    <img src="/images/man.png" alt="userlogo" class="image" />
    <form action="/logout" method="get">
        <button type="submit" class="logout-button">Logout</button>
    </form>
    <div class="dummy-content">

        <p>This is some dummy content added to demonstrate the page layout.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius eros a lacus accumsan mattis. Fusce quis lacinia ipsum. Nullam sed velit vel enim dictum tincidunt.</p>
        <p>Proin efficitur diam at velit pulvinar, et tristique eros tempus. Ut ac quam ac ipsum congue sodales. Donec hendrerit aliquam ex ac feugiat.</p>
        <p>Sed non suscipit turpis. Ut consectetur justo sit amet enim vestibulum, eget venenatis magna condimentum.</p>
    </div>
</div>
